NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/portfolio
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
STORAGE_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=dc6yyzex4
CLOUDINARY_API_KEY=585948397843463
CLOUDINARY_API_SECRET=8o4iNVwI57RtHu5rK5DmtnbSyh0
